.ctrl-panel {   
    background-color: #ffffff;
    border-right: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    left: 30px;
    width: 374px;
    max-height: calc(100% - 100px);
    display: block;
    font-size: 12px;
    left: 10px;
    padding: 10px;
    position: absolute;
    text-align: justify;
    top: 10px;
    z-index: 10;
    -webkit-transition: left 0.5s, -webkit-transform 2s;
    transition: left 0.5s, transform 2s;
   clear: both;
}

.directions li span.arrow {
    display:inline-block;
    min-width:28px;
    min-height:28px;
    background-position:0px;
    background-image: url("https://heremaps.github.io/maps-api-for-javascript-examples/map-with-route-from-a-to-b/img/arrows.png");
    position:relative;
    top:8px;
  }
  .directions li span.depart  {
    background-position:-28px;
  }
  .directions li span.rightturn  {
    background-position:-224px;
  }
  .directions li span.leftturn{
    background-position:-252px;
  }
  .directions li span.arrive  {
    background-position:-1288px;
  }